.news__card-image {
    grid-area: 1 / 2 / 3 / 3;
    margin: 0;  
}
@media screen and (max-width: 1287px) {
    .news__card-image {
       max-width: 135px;
    }
}
@media screen and (max-width: 1024px) {
    .news__card-image {
        max-width: 102px;
        min-height: 120px;
    }
}