.board {
  background-color: #f7f4f0;
  /*max-width: 1376px;*/
  box-sizing: border-box;
  padding: 20px 12px;
  grid-template-rows: [board-title] auto 20px [board-image-starts] auto [board-image-ends] 20px [board-text] auto 20px [board-tools];
}

@media screen and (min-width: 768px) {
  .board {
    /*max-width: 100vw;*/
    padding: 20px;
    margin: 0;
    grid-template-rows: [board-image-starts board-title] auto 20px [board-text] auto 61px [board-tools] auto [board-image-ends];

    /*grid-template-rows: 20px auto 12px auto 61px 48px 20px;*/
  }
}

@media screen and (min-width: 1200px) {
  .board {
    margin: 0 32px 0 32px;
    padding-top: 56px;
    padding-bottom: 64px;
    grid-template-rows: [board-image-starts board-title] auto 32px [board-text] auto 182px [board-tools] 60px [board-image-ends];
  }
}
