.nav-menu__submenu {
  position: absolute;
  top: 50px;
  right: 0;
  grid-column-gap: 60px;
  height: auto;
  padding-top: 12px;
  visibility: hidden;
  background-color: #F7F4F0;
}

.nav-menu__item:hover .nav-menu__submenu {
  visibility: visible;
}

@media screen and (max-width: 1024px) {
  .nav-menu__submenu {
    grid-column-gap: 32px;
    padding-top: 7px;
  }
}

@media screen and (max-width: 520px) {
  .nav-menu__submenu {
    position: static;
    grid-auto-flow: row;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, max-content);
    padding: 24px 0;
    margin: 24px 0 0 0;
    visibility: visible;
    border: 1px solid rgba(50, 50, 50, 0.3);
    border-right: none;
    border-left: none;
    list-style: none;
  }
}
