.materials__card-description {
  font-family: 'PT sans', Times, Sans;
  font-size: 16px;
  color: rgba(32, 32, 32, .7);
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .materials__card-description {
    font-size: 14px;
    color: #323232;
  }
}

@media screen and (max-width: 768px) {
  .materials__card-description {
    font-size: 12px;
  }
}