.btn {
  display: inline-block;
  min-width: 329px;
  min-height: 50px;
  padding: 11px 15px;
  box-sizing: border-box;
  background: none;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn:disabled {
  cursor: default;
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .btn {
    min-width: 237px;
  }
}

@media screen and (max-width: 520px) {
  .btn {
    min-width: 335px;
  }
}
