.magazine-card__subtitle {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
    .magazine-card__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}