.board__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: rgba(50, 50, 50, 0.7);
  margin: 0;
  padding: 0;
  grid-row: board-text;
  grid-column: 6 / 12;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .board__text {
    font-size: 14px;
    line-height: 1.28;
    grid-column: 5 / 12;
  }
}

@media screen and (max-width: 520px) {
  .board__text {
    font-size: 14px;
    line-height: 1.28;
    grid-column: 1 / -1;
  }
}
