.special-projects__card-link {
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.special-projects__card-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.special-projects__card-link:hover {
  opacity: .8;
}