.materials__slider-dots {
  position: static;
  margin-top: 32px;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

@media screen and (min-width: 768px) {
  .materials__slider-dots {
    visibility: hidden;
  }
}
