.nav-menu__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  font-size: 20px;
  line-height: 1.3;
  white-space: nowrap;
}

.nav-menu__link:hover {
  border-color: #323232;
}

@media screen and (max-width: 1024px) {
  .nav-menu__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 520px) {
  .nav-menu__link {
    display: inline-block;
    height: auto;
    padding: 0;
  }

  .nav-menu__link:hover {
    border-color: transparent;
  }
}
