.magazine-card__title {
  /*min-height: 44px;*/
  padding: 0;
  margin: 0;
  font-family: "WF", Times, sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .magazine-card__title {
    /*min-height: 66px;*/
  }
}
@media screen and (min-width: 1200px) {
  .magazine-card__title {
    /*min-height: 78px;*/
    font-size: 26px;
    line-height: 1;
  }
}
