.paginator {
    display: flex;
    align-items: center;
  max-width: 678px;

    /*gap: 366px;*/
    justify-content: space-between;
    margin-bottom: 62px;
}
@media screen and (max-width: 768px) {
    .paginator {
        display: none;
    }
 }
