.popup-special-project__button-close {
  position: absolute;
  width: 17px;
  height: 17px;
  margin: 0 0 0 -16px;
  top: 0;
  left: 0;
  outline: none;
  border: none;
  background: transparent url(../../../images/close.svg) center center no-repeat;
  object-fit: contain;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .popup-special-project__button-close {
    width: 16px;
    height: 16px;
    margin: 0 0 0 -16px;
  }
}