.site-layout {
  display: grid;
  grid-template-rows: [header] auto 70px [content] auto [footer] auto;
}

@media screen and (max-width: 1024px) {
  .site-layout {
    grid-template-rows: [header] auto 40px [content] auto [footer] auto;
  }
}

@media screen and (max-width: 520px) {
  .site-layout {
    grid-template-rows: [header] auto 31px [content] auto [footer] auto;
  }
}
