article .article-gallery {
  position: relative;
  overflow: hidden;
  grid-column: 2 / -2;
  margin: 0 0 32px;
}

article .article-gallery .content {
  position: relative;
  left: 0;
  display: flex;
  transition: left .5s ease-in-out;

}

article .article-gallery .content .image {
  min-width: 100%;
}

article .article-gallery .content .image figcaption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}






