.special-projects__card-title {
  margin: 0;
  font-size: 26px;
  color: #323232;
  line-height: 1;
  font-family: 'WF', Times, Sans;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .special-projects__card-title {
    font-size: 18px;
    line-height: 1.2;
  }
}
