.carousel__side-panel-button-icon {

}

@media screen and (min-width: 320px) {
  .carousel__side-panel-button-icon {
    margin-left: 18px;
  }
}

@media screen and (min-width: 768px) {
  .carousel__side-panel-button-icon {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .carousel__side-panel-button-icon {
    margin-left: 12px;
  }
}
