.magazine-card__text {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;    
}
@media screen and (max-width: 768px) {
    .magazine-card__text {
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 12px;
        display: none;
    }
 }