.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 252px);
  grid-gap: 31px 40px;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, 180px);
      grid-gap: 31px 40px;

  }
}

@media screen and (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, 328px);
    grid-gap: 62px 80px;
  }
}

/*.card-container {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fill,minmax(175px,328px));*/
/*    row-gap: 62px;*/
/*    column-gap: 80px;*/
/*    max-width: 1144px;*/
/*    margin: 0 auto 40px;*/
/*}*/
/*@media screen and (max-width: 768px) {*/
/*    .card-container {*/
/*        display: grid;*/
/*        grid-template-columns: repeat(auto-fill,175px);*/
/*        grid-template-rows: repeat(3,277px);*/
/*        column-gap: 42px;*/
/*        max-width: 612px;*/
/*        margin: 0 auto;*/
/*    }*/
/*}*/
