.news__card-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #323232;
    font-family: 'PT Sans';
    margin: 0;
    grid-area: 1 / 1 / 2 / 2;
}
@media screen and (max-width: 1287px) {
    .news__card-date { 
        font-size: 12px; 
    }
}
@media screen and (max-width: 1024px) {
    .news__card-date { 
        font-size: 12px; 
        line-height: 16px;
    }
}