.carousel__side-panel-button {
  min-height: 0;
  padding: 0;
  margin-top: 4px;
  color: #323232;
}

@media screen and (min-width: 768px) {
  .carousel__side-panel-button {
    align-self: flex-end;
    color: #FFFFFF;
    border: none;

  }
}

@media screen and (min-width: 1200px) {
  .carousel__side-panel-button {
    border: 1px solid #FFFFFF;
    padding: 11px 15px;
    align-self: unset;
  }
}
