.footer__grid-elem_area_social {
  grid-area: 1 / 1 / 1 / -1;
  justify-self: center;
  grid-auto-flow: column;
  grid-column-gap: 24px;
}

@media screen and (min-width: 768px) {
  .footer__grid-elem_area_social {
    grid-area: 1 / 12 / 1 / 13;
  }
}

@media screen and (min-width: 1200px) {
  .footer__grid-elem_area_social {
    grid-area: 1 / 7 / 1 / 8;
    grid-auto-flow: row;
  }
}
