.footer__grid-elem_area_social {
  /*grid-area: 1 / 1 / 1 / -1;*/
  /*grid-area: social;*/
  justify-self: center;
  grid-auto-flow: column;
  grid-column-gap: 24px;
          grid-area: social;


}

@media screen and (min-width: 768px) {
  .footer__grid-elem_area_social {
    /*grid-area: 1 / 12 / 1 / 13;*/
  }
}

@media screen and (min-width: 1200px) {
  .footer__grid-elem_area_social {
    /*grid-area: 1 / 7 / 1 / 9;*/

    grid-auto-flow: row;
    /*margin-left: 12px;*/
    justify-self: start;
  }
}
