.header {
  grid-row: header;
  min-height: 50px;
  padding: 0 var(--inner-container) 30px;
  z-index: 9;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 70px;
  }
}
