.news__events-title {
    max-width: 355px;
    font-size: 46px;
    line-height: 46px;
    font-weight: 400;
    color: #F5F5F5;
    padding: 0;
    margin: 16px 90px 370px 32px;
    font-family: var(--font-wt-sans);
}
@media screen and (max-width: 1287px) {
    .news__events-title { 
        margin: 16px 50px 270px 32px;
    }
}
@media screen and (max-width: 1024px) {
    .news__events-title { 
        margin: 16px 105px 217px 16px;
        margin-top: 16px;
        margin-right: 105px;
        margin-bottom: 217px;
        margin-left: 16px;
         font-size: 30px;
        line-height: 37px;
        max-width: 132px;
    }
}