.news__card-text {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: rgba(50, 50, 50, 0.6);
    max-width: 328px;
    grid-area: 3 / 1 / 4 / 3;
    margin: 0 0 20px 0;
    min-height: 130px;
}
@media screen and (max-width: 1287px) {
    .news__card-text {
        max-width: 230px;
        font-size: 16px;
    }
}
@media screen and (max-width: 1024px) {
    .news__card-text {
        max-width: 180px;
        min-height: 90px;
        font-size: 14px;
        line-height: 18px;
        margin: 8px 0 0 0;
    }
}