.footer__grid-container {
  align-items: start;
  grid-row: footer-columns;
  grid-template-rows: auto 24px auto 29px auto;
}

@media screen and (min-width: 768px) {
  .footer__grid-container {
    grid-template-rows: auto 36px auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__grid-container {
    grid-template-rows: auto;
  }
}
