.magazine-card {
    max-height: 526px;
    position: relative;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.magazine-card:hover {
    opacity: .8;
    background: #C4C4C4;
}