.nav-menu__drop-container {
  top: 50px;
  left: 0;
  right: 0;
  z-index: 20;

  overflow-y: auto;
  background-color: inherit;
  /*overflow: hidden;*/
}

@media screen and (min-width: 768px) {
  .nav-menu__drop-container {
    /*position: static;*/
    height: 100%;
  }
}
