.popup-special-project__title {
  font-size: 26px;
  margin: 0;
  font-family: var(--font-pt-sans);
  color: #323232;
}

@media screen and (max-width: 1024px) {
  .popup-special-project__title {
    font-size: 18px;
  }
}