.materials__card-status {
  position: absolute;
  top: 0;
  padding: 8px 32px;
  margin: 0;
  background-color: #A5CDAB;
  border-radius: 8px;
  color: #323232;
  text-transform: uppercase;
  font-size: 14px;
  transform: translateY(-50%);
}
