.materials__wrapper-cards {
  margin-top: 40px;
  max-width: 1144px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .materials__wrapper-cards {
    max-width: 800px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 768px) {
  .materials__wrapper-cards {
    
  }
}