.board__text-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  /*padding: 0 134px 0 136px;*/
  /*margin: 0 134px 0 136px;*/
  margin: 0;
  border: black solid 1px;
}


@media screen and (max-width: 1024px) {
  .board__text-content {
    padding: 0 66px 0 0;
  }
}


/*@media screen and (max-width: 1024px) {
  .board__content {
    margin: 0 20px 0 75px;
    /*padding: 0 0 66px 0;*/
 /* }*/
/*}*/
