.intro__text {
  grid-column: 1 / -1;
  grid-row: intro-text-starts / intro-text-ends;
  font-family: var(--font-wt-sans);
  font-size: 26px;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .intro__text {
    grid-column: 1 / -2;
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  .intro__text {
    grid-column: 1 / -3;
    font-size: 46px;
  }
}
