.intro {
  padding: 0 var(--inner-container);
  background-color: var(--color-bg-orange-2);
  grid-template-rows: [intro-text-starts] auto [intro-text-ends] 93px [square-menu-starts] auto [squate-menu-ends] 98px;
}

@media screen and (min-width: 768px) {
  .intro {
    grid-template-rows: [intro-text-starts] auto [intro-text-ends] 28px [square-menu-starts] auto [squate-menu-ends] 36px;
  }
}

@media screen and (min-width: 1200px) {
  .intro {
    grid-template-rows: [intro-text-starts] auto [intro-text-ends] 114px [square-menu-starts] auto [squate-menu-ends] 164px;
  }
}

