.carousel {
  display: flex;
      padding: 0 12px;
    flex-direction: column;
}

@media screen and (min-width: 320px) {
  .carousel {

  }
}

@media screen and (min-width: 768px) {
  .carousel {
    padding: 0;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .carousel {

  }
}
