.materials__wrapper-content-card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  row-gap: 12px;
    padding: 24px 12px 16px;

}


@media screen and (min-width: 1200px) {
  .materials__wrapper-content-card {
    padding: 28px 16px;
  }
}
