.carousel__slider-panel {
  display: none;
}

@media screen and (min-width: 768px) {
  .carousel__slider-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
  }
}
