.carousel__slider {
  background-color: #FFFFFF;
}

@media screen and (min-width: 320px) {
  .carousel__slider {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 768px) {
  .carousel__slider {
    grid-column: 5 / -1;
    padding: 16px 0 22px 20px;
  }
}
.carousel__slider {
  scrollbar-width: thin;
  scrollbar-color: #323232 #E7E4DE;
}

.carousel__slider::-webkit-scrollbar {
  height: 4px;
  width: 355px;
  margin-top: 20px;
}

.carousel__slider::-webkit-scrollbar-track {
  background: #E7E4DE;
}

.carousel__slider::-webkit-scrollbar-thumb {
  background-color: #323232;
  border: 4px solid #323232;
}

