.btn__text {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: var(--font-pt-sans);
  line-height: 1.3;
  height: 100%;
  display: flex;
}

@media screen and (min-width: 320px) {
  .btn__text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .btn__text {
    font-size: 20px;
  }
}
