.slider__heading {
  font-family: var(--font-wt-sans);
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
    .slider__heading {
        font-size: 30px;
        line-height: 1.2;
    }
}

@media screen and (min-width: 1200px) {
    .slider__heading {
        font-size: 42px;
    }
}
