.popup-special-project__subtitle {
  max-height: 400px;
  margin-top: 4px;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;

}

@media screen and (min-width: 1200px) {
  .popup-special-project__subtitle {
    margin: 12px 0 0 0;
    font-size: 14px;
  }
}
