.popup-special-project__subtitle {
  margin: 12px 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 400px;
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .popup-special-project__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 520px) {
  .popup-special-project__subtitle {
    margin-top: 4px;
  }
}