.footer {
  display: grid;
  grid-row: footer;
  background-color: #FFFFFF;
  grid-template-rows: [bottom-menu] auto 28px [footer-columns] auto;
  padding: 28px 12px 16px;

}

@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 16px 22px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 72px 32px 94px;
    grid-template-rows: [bottom-menu] auto 32px [footer-columns] auto;
  }
}

