.screen-overlay {
  top: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.screen-overlay_visible {
  position: fixed;
  display: block;
  height: 100%;
  visibility: visible;
  opacity: 1;
  clip: unset;
}
