.square-menu__item-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: end;
  margin-top: 36px;
}

@media screen and (max-width: 1024px) {
  .square-menu__item-more {
    margin-top: 28px;
  }
}

@media screen and (max-width: 520px) {
  .square-menu__item-more {
    margin-top: 12px;
  }
}
