.square-menu__item-title {
  padding: 0;
  margin: 0;
  font-family: var(--font-wt-sans);
  font-size: 36px;
  line-height: 1;
}

@media screen and (max-width: 1024px) {
  .square-menu__item-title {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 1024px) {
  .square-menu__item-title {
    font-size: 26px;
  }
}
