.news__card {
    max-width: 328px;
    display: grid;
    grid-template-rows: 18px 1fr;
    column-gap: 28px;
    grid-template-columns: minmax(89px,212px);
}
@media screen and (max-width: 1287px) {
    .news__card { 
        max-width: 280px;
        grid-template-rows: 18px 1fr;
        column-gap: 15px;
        grid-template-columns: minmax(70px,135px);
    }
}
@media screen and (max-width: 1024px) {
    .news__card { 
        max-width: 180px;
        grid-template-rows: 18px 102px auto;
        column-gap: 12px;
        grid-template-columns: minmax(66px,24px);
        margin: 0;
    }
}