.magazine-card__about_type_experience {
   /*padding: 32px 16px 72px; */
   /*row-gap: 20px;*/
  padding: 16px 0;
  row-gap: 12px;
   color: #323232;;
   text-align: center;
}

@media screen and (min-width: 768px) {
  .magazine-card__about_type_experience {
    padding: 12px 0 10px;
    row-gap: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .magazine-card__about_type_experience {
    padding: 32px 16px 28px;
    row-gap: 20px;
  }
}
