.board__tools {
  margin: 0;
  padding: 0;
  grid-row: board-tools;
  display: flex;
  box-sizing: border-box;
  grid-column: 1 / -1;
  flex-direction: column;
  grid-row-gap: 16px;
}

@media screen and (min-width: 768px) {
  .board__tools {
    grid-column: 5 / -1;
    grid-column-gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .board__tools {
    grid-column: 6 / 12;
    grid-column-gap: 20px;
  }
}
