.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
  padding: 0px 15px;  
  margin: 0 116px 32px 32px;
  border: 1px solid #FFFFFF;
}
.button:disabled {
  opacity: .6;
}
@media screen and (max-width: 1287px) {
  .button {
    margin: 0 50px 32px 32px;
  }
}
@media screen and (max-width: 1024px) {
  .button {
    margin: 0 20px 41px 72px;
    padding: 0; 
    border: none;
  }
}