.button_place_board {
  width: 100%;
  box-sizing: border-box;
  /*border: none;*/
  padding: 0;
  margin: 0;
  min-height: 50px;
}

@media screen and (min-width: 768px) {
  .button_place_board {
    min-height: 48px;
  }
}


