.grid {
  display: grid;
  box-sizing: border-box;
  grid-column-gap: var(--grid-desktop-gap);
  grid-template-columns: repeat(var(--grid-desktop-columns), 1fr);
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-column-gap: var(--grid-tablet-gap);
    grid-template-columns: repeat(var(--grid-tablet-columns), 1fr);
  }
}

@media screen and (max-width: 520px) {
  .grid {
    grid-column-gap: var(--grid-mobile-gap);
    grid-template-columns: repeat(var(--grid-mobile-columns), 1fr);
  }
}
